<b>Redeeming Winnings</b><br/>
<p>You have <%= current_user.prize_points %> prize points.
<%= smart_link_to 'Read here', explain_path('scoring_categories') %> about winning more prize points.</p>
You can redeem your points for:
<% index = 0 %>
<ul data-role="listview" data-inset="true">

  <% if mxit_request? %>
    <li data-icon="check">
      <% if current_user.not_registered_on_mxit_money? %>
        You not Registered on Mxit Money
      <% elsif current_user.prize_points == 0 %>
        Mxit Money
      <% elsif Settings.mxit_money_disabled_until > Time.current %>
        More Mxit Money Available on <%= Date.current.end_of_month.strftime("%d %b") %>
      <% else %>
        <%= smart_link_to "#{(index += 1)} #{number_to_currency(current_user.prize_points.to_f / 100, :unit => "R")} mxit money",
                      new_redeem_winning_path(:prize_type => 'mxit_money',
                                              :prize_amount => current_user.prize_points),
                      id: 'mxit_money' %>
      <% end %>
    </li>
  <% end %>

  <% {vodago: [200,500,1000],
      cell_c: [500,1000,2500],
      mtn: [500,1000,1500],
      virgin: [1000,1500,3500],
      heita: [500,1000,2000]}.each do |provider,values| %>
      <li data-icon="check">
      <% if current_user.prize_points < values.first %>
          R<%= values.first / 100 %> <%= provider.to_s.gsub("_"," ") %>
            (<span style="color: red;"><%= values.first - current_user.prize_points %> more prize points</span>)
      <% else %>
          <% value = values.delete_if{|v| current_user.prize_points < v }.max %>
          <%= smart_link_to "#{(index += 1)} R#{value / 100} #{provider.to_s.gsub("_"," ")}",
                          new_redeem_winning_path(:prize_type => "#{provider}_airtime",
                                                  :prize_amount => value),
                          id: "#{provider}_airtime" %>
      <% end %>
      </li>
  <% end %>

</ul>
<br/>

<% menu_item 'airtime vouchers', airtime_vouchers_path, id: 'airtime_vouchers' %>
<% unless guest? %>
  <% menu_item 'rank', user_path(current_user), id: 'view_rank' %>
<% end %>
<% menu_item 'leaderboard', users_path, id: 'leaderboard' %>

