<h1>Redeeming Winnings</h1>
You have <%= current_user.prize_points %> prize points.
<br/>
You can redeem your points for:
<% index = 0 %>
<ul>
  <% if current_user.prize_points == 0 %>
    <li>clue points</li>
  <% else # current_user.prize_points > 0  %>
    <li><%= link_to (index += 1).to_s,
                    new_redeem_winning_path(:prize_type => 'clue_points',
                                            :prize_amount => [current_user.prize_points,10].min),
                    id: 'clue_points' %>
         <%= [current_user.prize_points,10].min %> clue points</li>
  <% end %>

  <% if current_user.not_registered_on_mxit_money? %>
    <li>You not Registered on Mxit Money</li>
  <% elsif current_user.prize_points == 0 %>
    <li>Mxit Money</li>
  <% else %>
    <li><%= link_to (index += 1).to_s,
                  new_redeem_winning_path(:prize_type => 'mxit_money',
                                          :prize_amount => current_user.prize_points),
                  id: 'mxit_money' %>
    <%= number_to_currency(current_user.prize_points.to_f / 100, :unit => "R") %> mxit money</li>
  <% end %>

</ul>
<br/>
<% menu_item 'home', root_path, id: 'root_page' %>
<% menu_item 'new game', new_game_path, id: 'new_game' %>
<% menu_item 'rank', user_path(current_user), id: 'view_rank' %>

