<h1>Your Badges</h1>
<div>
	Play and get rewarded with badges, show off your skills by obtaining these achievements. Do you have what it takes. 

	<ul>
		<li><%= link_to 'Mr. Loader', explain_path(action: 'mr_loader', id: 'mr_loader') %></li>
		<li><%= link_to 'Clueless', explain_path(action: 'clueless', id: 'clueless') %></li>
		<li><%= link_to 'Brainey', explain_path(action: 'brainey', id: 'brainey') %></li> 
		<li><%= link_to 'Bookworm', explain_path(action: 'bookworm', id: 'bookworm') %></li> 
		<li><%= link_to 'Snailing It', explain_path(action: 'snailing_it', id: 'snailing_it') %></li> 
		<li><%= link_to 'Gladiator', explain_path(action: 'gladiator', id: 'gladiator') %></li> 
		<li><%= link_to 'Warrior', explain_path(action: 'warrior', id: 'warrior') %></li> 
	</ul>
</div>

