<h4><%= "#{params[:period]} #{params[:rank_by]}".to_s.humanize %></h4>
<p><b>Please note:</b>You cannot win twice in a row in any category</p>
<ul class="nav nav-pills nav-stacked">
  <%= content_tag_for(:li, @users) do |user| %>
      <%= display_user_name(user.name) %> -
      <%= user.send(@send.to_sym) %>
  <% end %>
</ul>
<%= render :partial => "ranking_links" %>
<% unless guest? %>
  <% menu_item 'rank', user_path(current_user), id: 'view_rank' %>
<% end %>
