<% Winner.winning_periods.each do |time_period| %>
  <table data-role="table" id="<%= time_period %>-table" data-mode="columntoggle" class="ui-responsive table-stroke">
    <thead>
    <tr>
      <th><%= time_period.capitalize %></th>
      <th data-priority="1">Amount</th>
      <th data-priority="2">Rank</th>
    </tr>
    </thead>
    <tbody>
    <% Winner.winning_reasons.each do |rank_by| %>
      <% field = "#{time_period}_#{rank_by}".to_sym %>
      <% rank_field = "#{time_period}_#{rank_by}_rank".to_sym %>
      <tr>
        <th><%= rank_by %>:</th>
        <td><%= @user.send(field) %><%= "|" if mxit_request? %></td>
        <td><%= @user.send(rank_field) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% menu_item 'leaderboard', users_path, id: 'leaderboard' %>
<% menu_item 'winners', winners_path, id: 'winners' %>
<% menu_item 'scoring explained', explain_path(action: 'scoring_categories'), id: 'scoring_categories' %>



