<b>Your Ranking</b>

<br/>
<table>
  <tbody>
  <% Winner.winning_periods.each do |time_period| %>
      <tr>
        <td><b><%= time_period %></b></td>
        <td>Amount</td>
        <td>Rank</td>
      </tr>
      <% Winner.winning_reasons.each do |rank_by| %>
        <% field = "#{time_period}_#{rank_by}".to_sym %>
        <% rank_field = "#{time_period}_#{rank_by}_rank".to_sym %>
          <tr>
            <td><%= rank_by %>:</td>
            <td><%= @user.send(field) %> |</td>
            <td><%= @user.send(rank_field) %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<br/>

<% menu_item 'home', root_path, id: 'root_page' %>
<%= render :partial => "ranking_links" %>



