<b>You Ranking</b>

<br/>
<table>
  <tbody>
  <tr>
    <td><b>Today</b></td>
    <td>Score</td>
    <td>Rank</td>
  </tr>
  <tr>
    <td>Games Won:</td>
    <td><%= @user.games_won_today %> |</td>
    <td><%= @user.rank(:games_won_today).ordinalize %></td>
  </tr>
  <tr>
    <td>Rating:</td>
    <td><%= @user.weekly_rating %> |</td>
    <td><%= @user.rank(:daily_rating).ordinalize %></td>
  </tr>
  <tr>
    <td>Precision:</td>
    <td><%= @user.weekly_precision %> |</td>
    <td><%= @user.rank(:daily_precision).ordinalize %></td>
  </tr>
  <tr>
    <td><b>This Week</b></td>
    <td>Score</td>
    <td>Rank</td>
  </tr>
    <tr>
      <td>Games Won:</td>
      <td><%= @user.games_won_this_week %> |</td>
      <td><%= @user.rank(:games_won_this_week).ordinalize %></td>
    </tr>
    <tr>
      <td>Rating:</td>
      <td><%= @user.weekly_rating %> |</td>
      <td><%= @user.rank(:weekly_rating).ordinalize %></td>
    </tr>
    <tr>
      <td>Precision:</td>
      <td><%= @user.weekly_precision %> |</td>
      <td><%= @user.rank(:weekly_precision).ordinalize %></td>
    </tr>
   <tr>
     <td><b>This Month</b></td>
     <td>Score</td>
     <td>Rank</td>
   </tr>
  <tr>
    <td>Games Won:</td>
    <td><%= @user.games_won_this_month %> |</td>
    <td><%= @user.rank(:games_won_this_month).ordinalize %></td>
  </tr>
  <tr>
    <td>Rating:</td>
    <td><%= @user.monthly_rating %> |</td>
    <td><%= @user.rank(:monthly_rating).ordinalize %></td>
  </tr>
  <tr>
    <td>Precision:</td>
    <td><%= @user.monthly_precision %> |</td>
    <td><%= @user.rank(:monthly_precision).ordinalize %></td>
  </tr>
  </tbody>
</table>
<br/>

<%= link_to 'home', root_path, id: 'root_page' %> |
<%= render :partial => "ranking_links" %>



