<b>Your Ranking</b>

<br/>
<table>
  <tbody>
  <% Winner::WINNING_PERIODS.each do |time_period| %>
      <tr>
        <td><b><%= time_period %></b></td>
        <td>Score</td>
        <td>Rank</td>
      </tr>
      <% Winner::WINNING_REASONS.each do |rank_by| %>
        <% field = "#{time_period}_#{rank_by}".to_sym %>
          <tr>
            <td><%= rank_by %>:</td>
            <td><%= @user.send(field) %> |</td>
            <td><%= @user.rank(field).ordinalize %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<br/>

<%= link_to 'home', root_path, id: 'root_page' %> |
<%= render :partial => "ranking_links" %>



