<b>You Ranking</b>

<br/>
<table>
  <tbody>
  <tr>
    <td></td>
    <td>Score</td>
    <td>Rank</td>
  </tr>
   <tr>
    <th>This Week</th>
    <td></td>
    <td></td>
   </tr>

    <tr>
      <td>Games Won:</td>
      <td><%= @user.games_won_this_week %></td>
      <td><%= @user.rank(:games_won_this_week).ordinalize %></td>
    </tr>
    <tr>
      <td>Rating:</td>
      <td><%= @user.weekly_rating %></td>
      <td><%= @user.rank(:weekly_rating).ordinalize %></td>
    </tr>
    <tr>
      <td>Precision:</td>
      <td><%= @user.weekly_precision %></td>
      <td><%= @user.rank(:weekly_precision).ordinalize %></td>
    </tr>
   <tr>
     <th>This Month</th>
     <td></td>
     <td></td>
   </tr>
  <tr>
    <td>Games Won:</td>
    <td><%= @user.games_won_this_month %></td>
    <td><%= @user.rank(:games_won_this_month).ordinalize %></td>
  </tr>
  <tr>
    <td>Rating:</td>
    <td><%= @user.monthly_rating %></td>
    <td><%= @user.rank(:monthly_rating).ordinalize %></td>
  </tr>
  <tr>
    <td>Precision:</td>
    <td><%= @user.monthly_precision %></td>
    <td><%= @user.rank(:monthly_precision).ordinalize %></td>
  </tr>
  </tbody>
</table>
<br/>

<%= link_to 'home', root_path, id: 'root_page' %> |
top <%= link_to 'week', users_path(order: 'top_week'), id: 'view_top_week_users' %> players |
top <%= link_to 'month', users_path(order: 'top_month'), id: 'view_top_month_users' %> players



