<div id="chart">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>New Casual users</th>
          <th>New Competitive users</th>
          <th>In active users</th>
          <th>Casual users</th>
          <th>Competitive users</th>
        </tr>
      </thead>
      <tbody>
        <% @cohort.each do |values| %>
            <tr>
              <% values.each do |value| %>
                  <% if value.respond_to?(:strftime) %>
                    <td><%= value.to_s(:iso) %></td>
                  <% else %>
                    <td><%= value %></td>
                  <% end %>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>

<div id="growth">

</div>

<div id="games_cohort">

</div>

<div id="games_growth">

</div>

<div id="winners_cohort">

</div>

<script type="text/javascript"  src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"]}]}'></script>
<script type="text/javascript">

    google.setOnLoadCallback(drawCharts);

    var defaultGraphStyles = {
        width:1220, height:480,
        chartArea:{ left:50, width:1170 },
        titlePosition:'out', titleTextStyle:{ color:'#333', fontSize:14 },
        legend:{ position:'top', alignment:'end', textStyle:{ color:'#333' } },
        hAxis:{ textStyle:{ color:'#333' } },
        vAxis:{ format:'#', minValue:0, viewWindowMode:"explicit", viewWindow:{ min:0 }, textStyle:{ color:'#333' } }
    };

    function drawCharts() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'New Casual users');
        data.addColumn('number', 'New Competitive users');
        data.addColumn('number', 'Inactive users');
        data.addColumn('number', 'Casual users');
        data.addColumn('number', 'Competitive users');
        data.addRows(<%= raw @cohort_percentage.to_json %>);

        var chart = new google.visualization.AreaChart(document.getElementById('chart'));
        chart.draw(data, $.extend({isStacked: true }, defaultGraphStyles, { title:'Cohort' }));

        data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'New Casual users');
        data.addColumn('number', 'New Competitive users');
        data.addColumn('number', 'Casual users');
        data.addColumn('number', 'Competitive users');
        data.addRows(<%= raw @cohort.collect{|v|[v[0], v[1],v[2],v[4],v[5]]}.to_json %>);

        chart = new google.visualization.AreaChart(document.getElementById('growth'));
        chart.draw(data, $.extend({isStacked: true }, defaultGraphStyles, { title:'Active Growth' }));

        data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'clue incompleted');
        data.addColumn('number', 'no clue incompleted');
        data.addColumn('number', 'no clue completed');
        data.addColumn('number', 'clue completed');
        data.addRows(<%= raw @games_cohort_percentage.to_json %>);

        chart = new google.visualization.AreaChart(document.getElementById('games_cohort'));
        chart.draw(data, $.extend({isStacked: true }, defaultGraphStyles, { title:'Games cohort' }));

        data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'clue incompleted');
        data.addColumn('number', 'no clue incompleted');
        data.addColumn('number', 'no clue completed');
        data.addColumn('number', 'clue completed');
        data.addRows(<%= raw @games_cohort.to_json %>);

        chart = new google.visualization.AreaChart(document.getElementById('games_growth'));
        chart.draw(data, $.extend({isStacked: true }, defaultGraphStyles, { title:'Games growth' }));

        data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'In a row Winners');
        data.addColumn('number', 'Previous Winners');
        data.addColumn('number', 'First Time Winners');
        data.addRows(<%= raw @winners_cohort.to_json %>);

        chart = new google.visualization.AreaChart(document.getElementById('winners_cohort'));
        chart.draw(data, $.extend({isStacked: true }, defaultGraphStyles, { title:'Winners cohort' }));
    }

</script>