<b>Welcome to hangman extreme</b><br/>
Have fun guessing the word.<br/>
Daily winners are selected everyday at 11:30pm<br/>
<b>Coming soon, weekly winners of up to 200 moola</b><br/>

<ul>
  <%= content_tag_for(:li, @games) do |game| %>
      <span><%= game.hangman_text %></span> -
      <span><%= game.score %></span> -
      <%= link_to(game.done? ? 'show' : 'continue', game, id: dom_id(game, 'show')) %>
  <% end %>
</ul>

<br/>

<%= paginate @games %>

<br/>

<%= link_to 'new', new_game_path, id: 'new_game' %> game |
view <%= link_to 'rank', user_path(current_user), id: 'view_rank' %> |
<%= link_to 'profile', mxit_authorise_url(response_type: 'code',
                                            host: Rails.env.test? ? request.host : "auth.mxit.com",
                                            protocol: Rails.env.test? ? 'http' : 'https',
                                            client_id: ENV['MXIT_CLIENT_ID'],
                                            redirect_uri: mxit_oauth_users_url(host: request.host),
                                            scope: "profile/public profile/private",
                                            state: "profile"), id: 'authorise' %> |
view <%= link_to 'winners', winners_path, id: 'winners' %> |
send <%= link_to 'feedback', mxit_authorise_url(response_type: 'code',
                                          host: Rails.env.test? ? request.host : "auth.mxit.com",
                                          protocol: Rails.env.test? ? 'http' : 'https',
                                          client_id: ENV['MXIT_CLIENT_ID'],
                                          redirect_uri: mxit_oauth_users_url(host: request.host),
                                          scope: "profile/public profile/private",
                                          state: "feedback"), id: 'feedback' %>
<br/>
Winnings is based on the amount of active players on hangman extreme (currently <%= User.where('updated_at > ?',7.days.ago).count %> Players)<br/>
So <a href="mxit://[communityportal]/RecommendPage?ItemId=7297721" type="mxit/service-navigation">Tell your friends</a> about Hangman Extreme

