<p style="color: blue;">Please note the Hangman Extreme will be stopping end of this Month</p>

<ul>
  <%= content_tag_for(:li, @games) do |game| %>
      <span><%= game.hangman_text %></span> -
      <span><%= game.score %></span> -
      <%= smart_link_to('show', game, id: dom_id(game, 'show')) %>
  <% end %>
</ul>

<%= shinka_ad if current_user && current_user.provider == 'mxit' %>

<% menu_item share_url %>
<% menu_item 'rank', user_path(current_user), id: 'view_rank' %>
<% menu_item 'options', options_users_path, id: 'options' %>
<% menu_item 'badges', badges_users_path, id: 'badges' %>
<% menu_item 'leaderboard', users_path, id: 'leaderboard' %>
<% menu_item 'winners', winners_path, id: 'winners' %>
<% menu_item 'scoring', explain_path(action: 'scoring_categories'), id: 'scoring_categories' %>
<% menu_item 'feedback','/feedback', id: 'feedback' %>
<% menu_item 'profile','/profile', id: 'profile' %>
<% menu_item 'buy credits', '/purchase_transactions', id: 'buy_credits' %>
<% menu_item 'redeem prize points', '/redeem_winnings', id: 'redeem' %>
