<% if guest? %>
  <p>Welcome to hangman extreme south africa.</p>
  <p>Here you can play hangman on your mobile and you could also win airtime</p>
<% else %>
  <p>Welcome to <b>Hangman Extreme</b>. Have fun guessing the word.</p>
  <p style="color: blue;">Please use the store to redeem points or buy more credits</p>
<% end %>

<ul>
  <%= content_tag_for(:li, @games) do |game| %>
      <span><%= game.hangman_text %></span> -
      <span><%= game.score %></span> -
      <%= smart_link_to('show', game, id: dom_id(game, 'show')) %>
  <% end %>
</ul>

<%= shinka_ad if current_user && current_user.provider == 'mxit' %>

<% unless guest? %>
  <% menu_item share_url %>
  <% menu_item 'rank', user_path(current_user), id: 'view_rank' %>
  <% menu_item 'options', options_users_path, id: 'options' %>
<% end %>
<% menu_item 'badges', badges_users_path, id: 'badges' %>
<% menu_item 'leaderboard', users_path, id: 'leaderboard' %>
<% menu_item 'winners', winners_path, id: 'winners' %>
<% menu_item 'scoring', explain_path(action: 'scoring_categories'), id: 'scoring_categories' %>
<% menu_item 'feedback',feedback_url, id: 'feedback' %>
<% menu_item store_url %>
