<% clue = Dictionary.clue(@game.word) %>
<% if @game.is_won? %>
<b style="color:green">You win!</b>
<% elsif @game.is_lost? %>
<b style="color:red">You lose!</b>
<% else %>
You have <span><%= @game.attempts_left %></span> attempts left
<% end %>
<div <% if @game.is_lost? %>style="color:red;"<% end %>><%= render partial: 'hangman' %></div>
<% if clue  %>
    <% if @game.clue_revealed? %>
    (<i><%= clue %></i>)
    <% elsif !@game.completed? %>
      <% menu_item 'show clue', play_letter_game_path(@game,'show_clue'), id: 'show_clue' %>
    <% end %>
<% end %>
<br/>
<b style="color:purple;"><%= @game.hangman_text.split("").join(" ") %></b>
<br/>

<% if @game.done? %>
    <% menu_item 'new game', new_game_path, id: 'new_game' %>
    <% menu_item 'rank', user_path(current_user), id: 'view_rank' %>
    <% menu_item 'define the word', define_word_path(word: @game.hangman_text), id: 'define_word' %>
<% else %>
    <% ("a".."z").to_a.in_groups_of(10,false).each do |letters| -%>
        <% letters.each do |letter| -%>
            <%= link_to_unless(@game.choices.to_s.include?(letter),letter, play_letter_game_path(@game,letter), id: letter) %>
        <% end -%>
        <br/>
    <% end -%>
<% end %>
<br/>
<% menu_item 'leave game', games_path, id: 'games_index' %>