<b>Yesterday's <i><%= params[:reason] %></i> Winners</b><br/>
<% if @winners.empty? %>
    <p><b>Coming Soon</b></p>
<% else %>
<table>
  <tbody>
  <tr>
    <td><b>moola</b> | </td>
    <td><b>name</b></td>
  </tr>
  <%= content_tag_for(:tr, @winners.sort{|x,y| y <=> x}) do |winner| %>
      <td><%= winner.amount %> | </td>
      <td><%= display_user_name(winner.name) %></td>
  <% end %>
  </tbody>
</table>
<% end %>


<%= link_to 'home', root_path, id: 'root_page' %> |
<%= link_to_unless params[:reason] == 'rating',
                   'rating',
                   {reason: 'rating'} %> |
<%= link_to_unless params[:reason] == 'wins',
                   'wins',
                   {reason: 'wins'} %> |
<%= link_to_unless params[:reason] == 'precision',
                   'precision',
                   {reason: 'precision'} %>
