<b><%= params[:period] %> <i><%= params[:reason] %></i> Winners</b><br/>
<% if @winners.empty? %>
    <p><b>Coming Soon</b></p>
<% else %>
<table>
  <tbody>
  <tr>
    <td><b>points</b> | </td>
    <td><b>name</b></td>
  </tr>
  <%= content_tag_for(:tr, @winners.sort{|x,y| y.amount <=> x.amount}) do |winner| %>
      <td><%= winner.amount %> | </td>
      <td><%= display_user_name(winner.name) %></td>
  <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'home', root_path, id: 'root_page' %> |
view <%= link_to 'rank', user_path(current_user), id: 'view_rank' %>
<br/>
<% Winner::WINNING_PERIODS.each do |time_period| %>
    <%= link_to_unless params[:period] == time_period,
                       time_period,
                       {period: time_period, reason: params[:reason]},
                       id: "#{time_period}_#{params[:reason] || 'rating'}" %> |
<% end %>
<br/>
<% Winner::WINNING_REASONS.each do |reason| %>
    <%= link_to_unless params[:reason] == reason,
                       reason,
                       {period: params[:period], reason: reason},
                       id: "#{params[:period] || 'daily'}_#{reason}" %> |
<% end %>

