Winnings is based on the amount of active players on hangman extreme (currently <%= User.where('updated_at > ?',7.days.ago).count %> Players)<br/>
So <a href="mxit://[communityportal]/RecommendPage?ItemId=7297721" type="mxit/service-navigation">Tell your friends</a>
<br/><br/><b>Yesterday's <i><%= params[:reason] %></i> Winners</b><br/>
<% if @winners.empty? %>
    <p><b>Coming Soon</b></p>
<% else %>
<table>
  <tbody>
  <tr>
    <td><b>moola</b> | </td>
    <td><b>name</b></td>
  </tr>
  <%= content_tag_for(:tr, @winners.sort{|x,y| y.amount <=> x.amount}) do |winner| %>
      <td><%= winner.amount %> | </td>
      <td><%= display_user_name(winner.name) %></td>
  <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'home', root_path, id: 'root_page' %> |
<br/>
<% ['daily','weekly','monthly'].each do |time_period| %>
    <%= link_to_unless params[:period] == time_period,
                       time_period,
                       {period: time_period, reason: params[:reason]},
                       id: "#{time_period}_#{params[:reason] || 'rating'}" %> |
<% end %>
<br/>
<% ['wins','rating','precision'].each do |reason| %>
    <%= link_to_unless params[:reason] == reason,
                       reason,
                       {period: params[:period], reason: reason},
                       id: "#{params[:period] || 'daily'}_#{reason}" %> |
<% end %>

