<h4><%= params[:period] %> <i><%= params[:reason] %></i> Winners</h4>
<% if @winners.empty? %>
    <p><b>Coming Soon</b></p>
<% else %>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>points<%= mxit_dash %></th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
  <%= content_tag_for(:tr, @winners.sort{|x,y| y.amount <=> x.amount}) do |winner| %>
      <td><%= winner.amount %><%= mxit_dash %></td>
      <td><%= display_user_name(winner.name) %></td>
  <% end %>
  </tbody>
</table>
<% end %>
<div class="btn-group">
<% Winner::WINNING_PERIODS.each do |time_period| %>
  <%= link_to_unless params[:period] == time_period,
                     time_period,
                     {period: time_period, reason: params[:reason]},
                     id: "#{time_period}_#{params[:reason] || 'rating'}", class: "btn" %><% mxit_only("|") %>
<% end %>
</div>
<div class="btn-group">
<% Winner::WINNING_REASONS.each do |reason| %>
  <%= link_to_unless params[:reason] == reason,
                     reason,
                     {period: params[:period], reason: reason},
                     id: "#{params[:period] || 'daily'}_#{reason}", class: "btn" %><% mxit_only("|") %>
<% end %>
</div>

<% unless guest? %>
  <% menu_item 'rank', user_path(current_user), id: 'view_rank' %>
<% end %>



