<h1>Buy Credits</h1>

<p>You have currently have <b><%= current_user.credits %></b> credits.
All Players will be updated to 12 credits a day unless you have more</p>

<% if mxit_request? && PurchaseTransaction.purchases_enabled? %>
<ul>
    <% PurchaseTransaction.products.each_with_index do |product,index| %>
        <% product_id, hash = product %>
        <li id="product_<%= product_id %>">
            <%= link_to(index + 1, new_purchase_path(product_id: product_id), id: "buy_#{product_id}" )  %>)
            <%= hash[:moola_amount] %> moola for
            <b><%= hash[:product_name] %></b>
        </li>
    <% end %>
</ul>
<% else %>
    <br/><b>Coming soon, credits purchases</b><br/>
<% end %>

<br/>

<% menu_item 'profile', profile_users_path, id: 'profile' unless guest? %>
