<!DOCTYPE html>
<html>
<head>
  <title>HangmanLeague</title>
  <% if params[:action] == 'show' && params[:controller] == 'games' && @game && @game.choices.blank? %>
    <meta name="mxit" content="clearscreen" />
  <% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice -%>
    <div class="alert alert-info" style="color:#00008b;"><%= notice %></div>
<% elsif alert -%>
    <div class="alert alert-block" style="color:#8b0000;"><%= alert %></div>
<% end -%>

<%= yield %>

<br/><br/>
<%= shinka_ad if current_user && current_user.provider == "mxit" %>

<% if !Rails.env.test? && current_user != "mxit" %>
    <script type="text/javascript">
        var uvOptions = {};
        (function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/v0Ql2XSi69yhvPGthBlLFg.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
    </script>
<% end %>

</body>
</html>
