<!DOCTYPE html>
<html>
<head>
  <title>HangmanLeague</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% random_number = rand(999999999999) %>
<a href="http://ox-d.shinka.sh/mw/1.0/rc?cs=5062bf5fc46f8&cb=<%= random_number %>" >
  <img src="http://ox-d.shinka.sh/mw/1.0/ai?auid=290386&cs=5062bf5fc46f8&cb=<%= random_number %>" border="0" alt="">
</a>

<% if notice -%>
    <div class="alert alert-info" style="color:#00008b;"><%= notice %></div>
<% elsif alert -%>
    <div class="alert alert-block" style="color:#8b0000;"><%= alert %></div>
<% end -%>

<%= yield %>


</body>
</html>
