<!DOCTYPE html>
<html>
<head>
  <title>Hangman Extreme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="<%= image_path('favicon.ico') %>" rel="shortcut icon" />
  <% if params[:action] == 'show' && params[:controller] == 'games' && @game && @game.choices.blank? %>
    <meta name="mxit" content="clearscreen" />
  <% end %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="ui-page-active">
<% if notice -%>
    <div class="alert alert-info" style="color:#00008b;"><%= notice %></div>
<% elsif alert -%>
    <div class="alert alert-block" style="color:#8b0000;"><%= alert %></div>
<% end -%>

<%= yield %>
<%= menu %>
<%= shinka_ad %>
</body>
</html>
