<!DOCTYPE html>
<html>
<head>
  <title>Hangman Extreme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="<%= image_path('favicon.ico') %>" rel="shortcut icon" />
  <% if params[:action] == 'show' && params[:controller] == 'games' && @game && @game.choices.blank? %>
    <meta name="mxit" content="clearscreen" />
  <% end %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="ui-page-active">
<% if notice -%>
    <div class="alert alert-info" style="color:#00008b;"><%= notice %></div>
<% elsif alert -%>
    <div class="alert alert-block" style="color:#8b0000;"><%= alert %></div>
<% end -%>

<%= yield %>
<%= menu %>
<% if mxit_request? %>
  <%= shinka_ad %>
<% else %>
  <%= javascript_include_tag 'application' %>
  <% if smaato_ads_enabled? %>
    <div id="smaatoad" style="padding: 0px"></div>
    <script id="smaatoAdDisplay" language="javascript" type="text/javascript"
            src="http://soma.smaato.net/oapi/js/smaatoAdDisplay.js">
    </script>
    <script>
      (function () {
        var request = new SomaRequest();
        request.adSpaceID = <%= smaato_adspace %>;
        request.publisherID = <%= smaato_pub %>;
        /*insert additional targeting data here */
        SomaTag.requestAd(request);
      })();
    </script>
  <% end %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= ENV['GA_TRACKING_CODE'] %>']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
<% end %>
</body>
</html>
