<head>
  <title>Hangman Extreme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head>
<body>

<div id="<%= site_page_id %>" data-role="page" data-url="<%= request.path %>">

  <div data-role="header">
    <% unless current_page?(root_path) %>
        <%= link_to 'Home', root_path, id: 'home' %>
    <% end %>
    <h1>Hangman Extreme</h1>
    <% if params[:action] == 'index' %>
        <%= link_to 'Play', play_games_path, id: 'play_game', 'data-theme' =>"b" %>
    <% end %>
  </div>

  <div data-role="content">
    <% if notice -%>
        <div class="alert alert-info" style="color:#00008b;"><%= notice %></div>
    <% elsif alert -%>
        <div class="alert alert-block" style="color:#8b0000;"><%= alert %></div>
    <% end -%>
    <%= yield %>
  </div>

  <div data-role="footer">
    <h4>Page Footer</h4>
  </div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
