<head lang="en">
  <title>Hangman Extreme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= airbrake_javascript_notifier %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrap">

    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Hangman Extreme</a>
        <ul class="nav">
          <li <% if @game %>class="active"<% end %>>
            <%= link_to 'Play', play_games_path, class: 'play_game' %>
          </li>
          <li <% if current_page?(root_path) %>class="active"<% end %>>
            <%= link_to 'Home', root_path, class: 'home' %>
          </li>
          <% if current_user.guest?  %>
            <li>
              <%= link_to 'Login', Rails.env.development? ? '/auth/developer' : '/auth/facebook', class: 'login', 'data-ajax' =>"false", 'data-theme' =>"b" %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Logout', logout_path, class: 'logout' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  <div class="container">
    <% if notice -%>
        <div class="alert alert-info" style="color:#00008b;">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= notice %>
        </div>
    <% elsif alert -%>
        <div class="alert alert-block" style="color:#8b0000;">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= alert %>
        </div>
    <% end -%>
    <div class="row">
      <div class="span6"><%= yield %></div>
      <div class="span6"><%= menu %></div>
    </div>
  </div>

</div>

  <div id="footer">
    <div class="container">
      <%= smaato_ad %>
    </div>
  </div>

<div id="fb-root"></div>
<% unless Rails.env.test? %>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV['FACEBOOK_KEY'] %>', // App ID
      channelUrl : '//<%= request.protocol + request.host %>/channel', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
  };

  // Load the SDK Asynchronously
  (function(d){
    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    ref.parentNode.insertBefore(js, ref);
  }(document));
</script>
<% end %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= ENV['GA_TRACKING_CODE'] %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- <%= current_user.try(:provider) %>: <%= request_ip_address %> -->
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</body>
</html>
